# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [1]:
# your code goes here
'''Create a new DataFrame that only includes customers who 
have a total_claim_amount greater than 
$1,000 and have a response of "Yes" to the last 
marketing campaign.'''

import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)

df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [2]:
df.shape

(10910, 26)

In [4]:
list(df.columns)

['Unnamed: 0',
 'Customer',
 'State',
 'Customer Lifetime Value',
 'Response',
 'Coverage',
 'Education',
 'Effective To Date',
 'EmploymentStatus',
 'Gender',
 'Income',
 'Location Code',
 'Marital Status',
 'Monthly Premium Auto',
 'Months Since Last Claim',
 'Months Since Policy Inception',
 'Number of Open Complaints',
 'Number of Policies',
 'Policy Type',
 'Policy',
 'Renew Offer Type',
 'Sales Channel',
 'Total Claim Amount',
 'Vehicle Class',
 'Vehicle Size',
 'Vehicle Type']

In [5]:
filtered_df = df[(df['Total Claim Amount'] > 1000) & (df['Response'] == 'Yes')]

In [9]:
filtered_df.reset_index()

,index,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
1,236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
2,419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
3,442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
4,587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
63,10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
64,10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
65,10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
66,10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [14]:
pivot_df = filtered_df.pivot_table(index='Customer',columns='Response', values=['Total Claim Amount'], aggfunc='sum')

In [15]:
pivot_df

         Total Claim Amount
Response                Yes
Customer
AJ89108         1358.400000
CG15505         1294.700423
CK39096         1027.000029
DT77901         1300.800000
FD73388         1261.319869
FG29932         1008.000000
FH77504         1358.400000
FJ28407         2054.000058
FN44127         2352.557600
GA72966         1032.000000
GD55093         1294.700423
GP83239         1008.000000
GW43195         1027.200000
IP94270         1261.319869
IV54766         1294.700423
IX60941         1176.278800
JC11405         1324.800000
JL21509         1176.278800
KC26486         2064.000000
LT72149         1027.000029
MA15172         1300.800000
MC30750         1261.319869
MJ51323         1032.000000
MO21402         1261.319869
MS18916         1176.278800
MT27589         1008.000000
NZ60700         1324.800000
OK31456         1358.400000
PN98247         1008.000000
QE79527         1032.000000
QL45827         1027.200000
QO62792         2016.000000
QW47320         1300.800000
RO89785         1176.278800
TA66375         1358.400000
TC88986         1027.000029
TC99043         1261.319869
TQ84956         1324.800000
TU53781         1032.000000
TY31217         2716.800000
UH35128         1027.200000
UP29839         1294.700423
UT48216         1008.000000
UU42868         1027.000029
UY18770         1300.800000
VL84149         2054.400000
VV47792         1027.200000
WA45944         1027.200000
WP58340         2649.600000
XT93203         1324.800000
XZ64172         1324.800000
YE24562         1176.278800
YJ16163         1358.400000
YK65946         1032.000000
YP53257         1300.800000
YU86361         1294.700423
ZA45956         1261.319869
ZR79373         1300.800000
ZV80216         1027.000029
ZW93288         1294.700423

In [ ]:
'''Using the original Dataframe, analyze the average 
total_claim_amount by each policy type and gender for 
customers who have responded "Yes" 
to the last marketing campaign. Write your conclusions.'''

In [ ]:
'''Analyze the total number of customers who have policies 
in each state, and then filter the results to only 
include states where there are more than 500 customers.'''

In [ ]:
'''Find the maximum, minimum, and median customer 
lifetime value by education level and gender. 
Write your conclusions.'''